@{
    ViewBag.Title = "ExportDemo";
}

<h2>ExportDemo</h2>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
    <script src="~/Scripts/jquery-1.8.2.js"></script>
    @*<script src="~/Scripts/vue-dev/dist/vue.min.js"></script>*@
    <script src="~/Scripts/vue-dev/dist/vue.js"></script>

</head>
<body>
    <div class="layout layout-main">
        {{message}} 12
    </div>
    <script src="~/Content/test.js"></script>
    
</body>

</html>