@{
    ViewBag.Title = "_layout1";
}

<html >
<head>
    <<title>_layout</title>
    <meta  charset="utf-8"/>
    <link href="~/Scripts/bootstrap/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                layout
            </div>
        </div>
    </div> 
    @RenderBody()
</body>
</html>